/ConnectHub/nbproject/private/
/ConnectHub/target/
/ConnectHub/src/main/java/Frontend/MainFrameInitial.java

inputFiles.lst
createdFiles.lst
*.class

#Log Files
*.log

#Temporary Files
*.tmp
*.bak
*.swp
*.swo
*.~*

/target/



ConnectHub/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
ConnectHub/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
ConnectHub/target/classes/com/mycompany/connecthub/ConnectHub.class
ConnectHub/target/classes/Frontend/Newsfeed.class
ConnectHub/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
ConnectHub/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst


/testScroll/target/
/testScroll
ConnectHub/friends.txt
ConnectHub/requests.txt
